<launch>
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_node">
        <param name="video_device" value="/dev/video2"/>
        <param name="pixel_format" value="yuyv" />
    </node>


    <node pkg='camera_calibration' type='cameracalibrator.py' name='camera_calibrator'>
        <param name='size' value='8x6' />
        <param name='square' value='0.02588888' />
        <param name='no-service-check' value='true' />
        <remap from='image' to='/usb_cam_node/image_raw' />
        <remap from='camera' to='/usb_cam_node' />
    </node>


</launch>
